<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="userprofilestyle.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <img src="img/logo.png" alt="" />
        <ul>
          <li>Giving You Wings!!</li>
        </ul>
      </div>
      <div class="About">
        <ul>
          <h1><%-username%></h1>
        </ul>
        <ul>
          <h3>Full Name: <%-name%></h3>
          <li></li>
        </ul>
        <ul>
          <h3></h3>
          <li></li>
        </ul>
        <ul>
          <h3>Email: <%-email%></h3>
          <li></li>
        </ul>
        <ul>
          <h3>Phone Number:<%-phoneNo%> </h3>
          <li></li>
        </ul>
        <!-- <ul>
          <h3>Address:</h3>
          <li></li>
        </ul> -->
        <ul>
          <h3>Age: <%-age%></h3>
          <li></li>
        </ul>
        <ul>
          <li><h3>Number of Opportunities Posted : <%-josbposted%></h3></li>
          <li><h3>Number of People Hired : <%-hired%></h3></li>
        </ul>
        <ul>
          <h3>
            <form action="/listallapplied" method="get">
              <button class="buttonJob">View Job Applications</button>
            </form>
          </h3>
        </ul>
        <ul>
          <form action="/getlocation" method="post">
          <button class="button1" id="location"  name="buttonLoc" >Add Current Location</button>
        </form>
          <button class="button1"><a  href="/employerpost" style="text-decoration: none; color: white;">Post a job</a></button>
        </ul>
      </div>
    </div>
    <script>

      
        navigator.geolocation.getCurrentPosition(function(position) {

const latitude = position.coords.latitude;
const longitude = position.coords.longitude;
const altitude = position.coords.altitude;
const accuracy = position.coords.accuracy;
const altitudeAccuracy = position.coords.altitudeAccuracy;
const heading = position.coords.height;
const speed = position.coords.speed;
const timestamp = position.timestamp;

// console.log(latitude);
// console.log(document.getElementById("location"))
document.getElementById('location').setAttribute("value",latitude+" "+longitude);
// work with this information however you'd like!
});
      

    </script>
  </body>
</html>
